@import url("../../config.css");
body, header{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn-close-modal-container-main{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

@media screen and (orientation:portrait), (max-width: 900px) {
    .modal-content-cart .container-main-products-cart .table-container{
        justify-content: start;
        align-items: start;
    }
    .modal-content-cart{
        height: 100%;
        width: 100%;
    }
    .container-main-all-form-pay{
        flex-direction: column;
    }
    .container-main-all-form-pay .container-methods-pay-admin{
        width: 100%;
    }
    .container-main-all-form-pay .container-methods-pay-admin .block-method-pay{
        /* width: 49%; */
    }
    .container-main-all-form-pay .container-methods-pay-admin {
        width: 100%;
        min-width: 0;
    }
}