{% extends "layouts/userapp.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/userapp/edit_user_profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/ui/input_border.css') }}">
{% endblock %}

{% block main_body %}
    <div class="container-main-all-edit-profile">
        <div class="container-main-inputs-all">
            <div class="container-main-profile-image">
                <label for="image_update_input">
                    <img src="{{ image }}" id="image-preview-main" alt="">
                    <input type="file" id="image_update_input" accept="" style="display: none;">
                </label>
            </div>
            <div class="block-inputs">
                <div class="input-group-ui-style">
                    <input required="" type="text" id="first_name_update_input" value="{{ first_name }}" autocomplete="off" class="input-ui-style">
                    <label class="user-label-ui-style">Nombres</label>
                </div>
                <div class="input-group-ui-style">
                    <input required="" type="text" id="last_name_update_input" value="{{ last_name }}" autocomplete="off" class="input-ui-style">
                    <label class="user-label-ui-style">Apellidos</label>
                </div>
                <div class="input-group-ui-style">
                    <input required="" type="email" id="email_update_input" value="{{ email }}" autocomplete="off" class="input-ui-style">
                    <label class="user-label-ui-style">Correo</label>
                </div>
                <div class="input-group-ui-style">
                    <input required="" type="tel" id="tel_whats_update_input" value="{{ tel_whats }}" autocomplete="off" class="input-ui-style">
                    <label class="user-label-ui-style">Número de telefono</label>
                </div>
                <div class="input-group-ui-style">
                    <input required="" type="text" id="location_update_input" value="{{ location }}" autocomplete="off" class="input-ui-style">
                    <label class="user-label-ui-style">Mi ubicación</label>
                </div>
                <div class="input-group-ui-style">
                    <input required="" type="password" id="password_update_input" value="" autocomplete="off" class="input-ui-style">
                    <label class="user-label-ui-style">Nueva contraseña</label>
                </div>
            </div>
            <div class="container-main-buton-save">
                <button class="btn-save" id="btn_submit_update">
                    Guardar cambios
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path fill="#ffffff" d="M21 7v12q0 .825-.587 1.413T19 21H5q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h12zm-2 .85L16.15 5H5v14h14zM12 18q1.25 0 2.125-.875T15 15q0-1.25-.875-2.125T12 12q-1.25 0-2.125.875T9 15q0 1.25.875 2.125T12 18m-6-8h9V6H6zM5 7.85V19V5z"/></svg>
                </button>
            </div>
            <div class="container-main-message-saved">
                <span class="message-main-span-update"></span>
            </div>
        </div>
    </div>
{% endblock %}

{% block selected_route_5 %}
    block-nav-circle-now__select
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/user_app/update_profile.js') }}"></script>
    <script>
        update_profile();
    </script>
{% endblock %}
