@import url("../config.css");
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container_layout_nav_app{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_layout_nav_app .navigation_container_main{
    width: 15rem;
    height: 100%;
    background-color: var(--color-blue-dark-3);
}
.container_layout_nav_app .container_body_main{
    width: calc( 100% - 12rem );
    height: 100%;
}
.container_layout_nav_app .navigation_container_main .container_btn_redirect_all{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .6rem;
    /* margin-top: 8rem; */
}
.container_layout_nav_app .navigation_container_main .container_btn_redirect_all a{
    color: white;
    text-decoration: none;
    background-color: var(--color-blue-dark-4);
    width: 90%;
    padding: .7rem 1rem;
    box-sizing: border-box;
    border-radius: 1.5rem;
}