{% extends "layouts/nav_admin.html" %}

{% block container_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/ui/input.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/admin_main/imagesfood.css') }}">
{% endblock %}

{% block main_body %}
    <div class="container-main">
        <div>
            <h1>Iconos de platos</h1>
        </div>
        <div class="container-form-create">
            <form action="/onlyadmin/images/imagesfood/save" method="post" enctype="multipart/form-data">

                <div class="coolinput-main-template">
                    <label for="food_name" class="text-main-template">Nombre:</label>
                    <input type="text" placeholder="" name="food_name" id="food_name" class="input-main-template" autofocus required>
                </div> 
                <div class="coolinput-main-template">
                    <label for="food_image" class="text-main-template">Imagen:</label>
                    <input type="file" name="food_image" id="food_image" class="input-main-template" accept="image/*" required>
                </div> 
                <button type="submit">Crear</button>
            </form>
        </div>
        <div class="container-title-center">
            <h1>Mis imagenes</h1>
        </div>
        <div class="general-icon-container">
            {% for icon in food_icons %}
            <div class="container-main-icon">
                <div class="container-image-icon">
                    <img src="{{ icon.url_name }}" alt="">
                </div>
                <div class="container-details-icon">
                    <h2>{{ icon.name }}</h2>
                    <span>{{ icon.url_name }}</span>
                </div>
                <div>
                    <a href="/onlyadmin/images/imagesfood/delete/{{ icon.id }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 2048 2048"><path fill="#453965" d="M1792 384h-128v1472q0 40-15 75t-41 61t-61 41t-75 15H448q-40 0-75-15t-61-41t-41-61t-15-75V384H128V256h512V128q0-27 10-50t27-40t41-28t50-10h384q27 0 50 10t40 27t28 41t10 50v128h512zM768 256h384V128H768zm768 128H384v1472q0 26 19 45t45 19h1024q26 0 45-19t19-45zM768 1664H640V640h128zm256 0H896V640h128zm256 0h-128V640h128z"/></svg>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}