<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error del servidor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/pages/errors.css') }}">
</head>
<body>
    <div class="container-main">
        <img src="{{ url_for('static', filename='images/userapp/images_default/3d-blue-robot-characcter-png.webp') }}" alt="">
        <h1>500 - Error interno del servidor</h1>
        <p>Algo salió mal en el servidor. Inténtalo de nuevo más tarde.</p>
        <a href="">Actualizar</a>
    </div>
</body>
</html>