<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 502 - Bad Gateway</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/pages/errors.css') }}">
</head>
<body>
    <div class="container-main">
        <img src="{{ url_for('static', filename='images/userapp/images_default/3d-blue-robot-characcter-png.webp') }}" alt="">
        <h1>502 - Bad Gateway</h1>
        <p>Lo sentimos, hubo un problema al conectarse con el servidor.</p>
        <a href="">Actualizar</a>
    </div>
</body>
</html>