<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitud de eliminación de datos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/pages/request_data_deletion.css') }}">
</head>
<body>
    <div class="container-main-all">
        <div class="container-all">
            <div class="container-logo">
                <img src="{{ url_for('static', filename='images/emTorch-nuevo-256px-256px.transparent.min.png') }}" alt="">
                <h2>emTorch</h2>
            </div>
            <h3>Solicitud de Eliminación de Datos</h3>
            <p>Nos tomamos muy en serio la privacidad y la protección de sus datos personales. Si desea solicitar la eliminación de su cuenta y de los datos asociados, siga los siguientes pasos:</p>
            <div class="container-steps">
                <ol >
                    <li>
                        <strong>Enviar un correo electrónico:</strong>
                        <ul>
                            <li>
                                Envíe un correo electrónico a <a href="mailto:overrimachi2001@gmail.com">overrimachi2001@gmail.com</a> desde la dirección de correo asociada a su cuenta.
                            </li>
                        </ul>
                    </li>
                    <li>
                        <strong>Asunto del correo:</strong>
                        <ul>
                            <li>Escriba "Solicitud de Eliminación de Datos" en el asunto del correo.</li>
                        </ul>
                    </li>    
                    <li>
                        <strong>Contenido del correo:</strong>
                        <ul>
                            <li>En el cuerpo del correo, por favor incluya la siguiente información:</li>
                            <ul>
                                <li>Su nombre completo.</li>
                                <li>La dirección de correo electrónico asociada a su cuenta.</li>
                                <li>Una breve descripción de su solicitud de eliminación.</li>
                            </ul>
                        </ul>
                    </li>
                </ol>
            </div>
            <p>Nos comprometemos a revisar y validar su solicitud dentro de un plazo de 30 días hábiles. Una vez validada, procederemos con la eliminación de su cuenta y de todos los datos asociados.</p>
            <p>Si tiene alguna pregunta o necesita asistencia adicional, no dude en ponerse en contacto con nosotros a través del mismo correo electrónico.</p>
            <p><strong>Gracias por confiar en nosotros.</strong></p>
        </div>
    </div>
</body>
</html>