{% extends "layouts/nav_app_honey.html" %}

{% block main_link_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles_restaurant/record_movements.css') }}">
{% endblock %}

{% block main_body %}
    <div class="container-main-body-all">

        <div class="title-main-panel-container">
            <h1>Historial de movimientos</h1>
        </div>
        
        <div class="form-main-control-for-user-view-record">
            <form action="" method="GET" >
                <div class="block-row-mov-control">
                    <label for="">Mesera</label>
                    <select name="waitress">
                        <option value="" selected>Todos</option>
                        <option value="2-{{ data_admin.id }}">{{ data_admin.user_name }}, {{ data_admin.user_surnames }}</option>
                        {% for w in waitress_data %}
                            <option value="4-{{ w.id }}">{{ w.user_first_name }}, {{ w.user_last_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="block-row-mov-control">
                    <label for="date_start">Desde:</label>
                    <input type="date" name="date_start" id="date_start" placeholder="Desde">
                </div>
                <div class="block-row-mov-control">
                    <label for="date_end">Hasta:</label>
                    <input type="date" class="form-control" name="date_end" id="date_end" placeholder="Hasta">
                </div>
                <button class="btn-filter-submit-record">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/></svg>
                    <span class="search-record-movements-letter">
                        Buscar
                    </span>
                </button>
            </form>
        
            <!-- <button class="btn-clear-all-record">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16"><path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/></svg>
                Borrar historial
            </button> -->
        </div>
        <div class="container-table-in-record-main">
            <div class="table-container">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Fecha</th>
                            <th>Código de órden</th>
                            <th>Usuario</th>
                            <th>Saldo</th>
                            <th>Movimiento</th>
                            <th>Descripción</th>
                        </tr>
                    </thead>
                    <tbody id="tbody-history-orders">
                        {% for data in data_record %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ data.created_at.strftime('%Y-%m-%d %H:%M') }}</td>
                            <td>{{ data.order_code }}</td>
                            <td>{{ data.user_name }}</td>
                            <td>{{ data.added_amount }}</td>
                            <td>{{ data.movement_created }}</td>
                            <td>{{ data.description_action }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <nav class="pagination is-small" role="navigation" aria-label="pagination">
                <a href="#" class="pagination-previous is-disabled" title="This is the first page">Previous</a>
                <a href="#" class="pagination-next">Next page</a>
                <ul class="pagination-list">
                    
                </ul>
            </nav>
        </div>
    </div>

{% endblock %}

{% block main_link_js %}
    <script>
        BulmaPagination("tbody-history-orders", 15);
    </script>
{% endblock %}
