.section-container-all{
    padding: .6rem;
    width: 100%;
    height: 100%;
}
.section-container-all .container-header{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    column-gap: .9rem;
    row-gap: .6rem;
}
.section-container-all .container-header button{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .4rem;
    border: none;
    height: 2rem;
    padding: .4rem;
    border-radius: .4rem;
    color: white;
    font-weight: bold;
    background-color: var(--color-blue-dark-4);
}
.section-container-all .container-header input{
    height: 2rem;
    border: 1px solid var(--color-blue-dark-4);
    border-radius: .4rem;
    padding: 0 .4rem;
    background-color: white;
    color: black;
}
.section-container-all .container-all-data-product-category{
    width: 100%;
    height: calc(100% - 2.6rem );
    display: flex;
    justify-content: start;
    align-items: start;
    column-gap: .6rem;
    row-gap: .6rem;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0rem;
    padding-top: 1rem;
    padding-bottom: 0;
}
.section-container-all .container-all-data-product-category .container-categories-product{
    width: 15rem;
    min-height: 30rem;
    height: 100%;
    background-color: rgb(238, 246, 246);
    border-radius: .4rem;
    padding: .4rem;
}
.section-container-all .container-all-data-product-category .container-categories-product .container-title{
    width: 100%;
    text-align: center;
}
.section-container-all .container-all-data-product-category .container-categories-product .container-title h1{
    color: black;
}
.section-container-all .container-all-data-product-category .container-categories-product .container-all-categories{
    width: 100%;
    height: calc(100% - 7rem );
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: .5rem;
}
.section-container-all .container-all-data-product-category .container-categories-product .container-all-categories .container-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: .5rem;
}
.section-container-all .container-all-data-product-category .container-categories-product .container-all-categories .container-row a{
    padding: .2rem;
    padding-left: .4rem;
    width: 100%;
    border-radius: .4rem;
    font-size: .9rem;
    color: black;
    background-color: transparent;
}
.section-container-all .container-all-data-product-category .container-categories-product .container-all-categories .container-row-selected a{
    background-color: #ced4fe;
}
.section-container-all .container-all-data-product-category .container-categories-product .container-all-categories .container-row a:hover{
    background-color: rgb(139, 205, 139);
}
.section-container-all .container-all-data-product-category .container-categories-product .container-all-categories .container-row .container-btns-action{
    display: flex;
    column-gap: .3rem;
}
.section-container-all .container-all-data-product-category .container-categories-product .container-all-categories .container-row .container-btns-action button{
    border: none;
    outline: none;
    width: 1.8rem;
    height: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .3rem;
}
.section-container-all .container-all-data-product-category .container-categories-product .container-all-categories .container-row .container-btns-action button:nth-child(1){
    background-color: #f5adad;
}
.section-container-all .container-all-data-product-category .container-categories-product .container-all-categories .container-row .container-btns-action button:nth-child(2){
    background-color: #a2adfd;
}
.section-container-all .container-all-data-product-category .container-categories-product .container-actions-option-inventory{
    height: auto;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    margin-top: .8rem;
}
.section-container-all .container-all-data-product-category .container-categories-product .container-actions-option-inventory button{
    height: 4rem;
    width: 100%;
    border: none;
    background-color: rgb(178, 179, 185);
    border: 1px solid rgb(152, 142, 142);
    border-radius: .4rem;
    padding: .3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(97, 87, 87);
    font-size: 1rem;
}
.section-container-all .container-all-data-product-category .container-categories-product .container-actions-option-inventory button.btn-active-modal{
    background-color: var(--color-blue-dark-1);
    color: white;
}
.container-products-main-block{
    width: calc( 100% - 15.6rem);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: .6rem;
}
.container-products-main-block .container-title{
    width: 100%;
    padding: .4rem;
    text-align: center;
    background-color: #eff1ff;
    border-radius: .4rem;
}
.container-products-main-block .container-title h2{
    font-weight: bold;
    color: black;
}
.container-products-main-block .pagination{
    width: 100%;
} 
.section-container-all .container-product-all{
    width: 100%;
    height: 100%;
    margin-top: 0rem;
    margin-bottom: .6rem;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap:wrap;
    gap: .6rem;
    overflow-y: auto;
}
.section-container-all .container-product-all .table tr th{
    font-size: .8rem;
    white-space: nowrap;
    color: #33353d;
}
.section-container-all .container-product-all .table tbody tr{
    cursor: pointer;
}
.section-container-all .container-product-all .table tbody tr:hover{
    background-color: #dcdfe8;
}
.section-container-all .container-product-all .table tbody tr:active{
    background-color: #c2fabf;
}
.section-container-all .container-product-all .table tr td{
    font-size: .8rem;
}
.section-container-all .container-product-all .table tr td .img-icon-product{
    max-width: 2.4rem;
    max-height: 2.4rem;
}
.section-container-all .container-product-all .table tr td .container-btn-action{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .3rem;
}
.section-container-all .container-product-all .table tr td .container-btn-action button{
    border: none;
    outline: none;
    border-radius: .3rem;
    width: 1.6rem;
    height: 1.6rem;
    display: flex;
    padding: .1rem;
    justify-content: center;
    align-items: center;
}
.section-container-all .container-product-all .table tr td.td-no-wrap{
    white-space: nowrap;
}
.section-container-all .container-product-all .table tr td .container-btn-action button:nth-child(1){
    background-color: rgb(222, 222, 248);
}
.section-container-all .container-product-all .table tr td .container-btn-action button:nth-child(2){
    background-color: rgb(248, 222, 222);
}
.section-container-all .container-product-all .table{
    border-radius: .4rem .4rem 0 0;
    overflow: hidden;
    width: 100%;
}
.section-container-all .container-product-all .table thead{
    background-color: #33353d;
}
.section-container-all .container-product-all .table thead th{
    color: white;
}
/* modal create product */
#update-category-product .modal-content,
#create-new-category-product .modal-content,
#create-new-product .modal-content{
    background-color: white;
    width: 100%;
    max-width: 31rem;
    height: auto;
    padding: .8rem;
    border-radius: .5rem;
    box-sizing: border-box;
}
#update-category-product .modal-content,
#create-new-category-product .modal-content{
    width: 100%;
    max-width: 18rem;
}
#update-category-product .modal-content .container-title,
#create-new-category-product .modal-content .container-title,
#create-new-product .modal-content .container-title{
    width: 100%;
    text-align: center;
    margin-top: .8rem;
    margin-bottom: .6rem;
}
#update-category-product .modal-content .container-title h1,
#create-new-category-product .modal-content .container-title h1,
#create-new-product .modal-content .container-title h1{
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
}
#update-product .modal-content form .container-grid-column-2,
#create-new-product .modal-content form .container-grid-column-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: start;
    align-items: center;
    row-gap: .6rem;
    column-gap: .7rem;
    width: 100%;
}
#create-new-product .modal-content form .container-main-template-input-simple{
    width: 100%;
}
#update-category-product .modal-content .container-buttons,
#create-new-category-product .modal-content .container-buttons,
#create-new-product .modal-content .container-buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .4rem;
    margin-top: .6rem;
}
#update-category-product .modal-content .container-buttons button,
#create-new-category-product .modal-content .container-buttons button,
#create-new-product .modal-content .container-buttons button{
    width: 50%;
    box-sizing: border-box;
    border: none;
    outline: none;
    height: 2.3rem;
    border-radius: .4rem;
    color: white;
    font-weight: bold;
}
#update-category-product .modal-content .container-buttons button:nth-child(1),
#create-new-category-product .modal-content .container-buttons button:nth-child(1),
#create-new-product .modal-content .container-buttons button:nth-child(1){
    background-color: var(--color-blue-dark-1);
}
#update-category-product .modal-content .container-buttons button:nth-child(2),
#create-new-category-product .modal-content .container-buttons button:nth-child(2),
#create-new-product .modal-content .container-buttons button:nth-child(2){
    background-color: var(--color-blue-dark-4);
}
/* end modal create product */
/* modal edit product */
#update-product .modal-content{
    background-color: white;
    width: 100%;
    max-width: 31rem;
    height: auto;
    padding: .8rem;
    border-radius: .5rem;
    box-sizing: border-box;
}
#update-product .modal-content .container-title{
    width: 100%;
    text-align: center;
    margin-top: .8rem;
    margin-bottom: .6rem;
}
#update-product .modal-content .container-title h1{
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
}
#update-product .modal-content form .container-main-template-input-simple{
    width: 100%;
}
#update-product .modal-content .container-buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .4rem;
    margin-top: .6rem;
}
#update-product .modal-content .container-buttons button{
    width: 50%;
    box-sizing: border-box;
    border: none;
    outline: none;
    height: 2.3rem;
    border-radius: .4rem;
    color: white;
    font-weight: bold;
}
#update-product .modal-content .container-buttons button:nth-child(1){
    background-color: var(--color-blue-dark-1);
}
#update-product .modal-content .container-buttons button:nth-child(2){
    background-color: var(--color-blue-dark-4);
}
/* end modal edit product */
/* modal delete product */
#delete-category-product-modal .modal-content,
#delete-product-modal .modal-content{
    background-color: white;
    width: 100%;
    max-width: 18rem;
    height: auto;
    padding: .8rem;
    border-radius: .5rem;
    box-sizing: border-box;
}
#delete-category-product-modal .modal-content .container-title,
#delete-product-modal .modal-content .container-title{
    width: 100%;
    text-align: center;
    margin-top: .8rem;
    margin-bottom: .6rem;
}
#delete-category-product-modal .modal-content .container-title h1,
#delete-product-modal .modal-content .container-title h1{
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
}
#delete-category-product-modal .modal-content .container-text,
#delete-product-modal .modal-content .container-text{
    width: 100%;
}
#delete-category-product-modal .modal-content .container-text span,
#delete-product-modal .modal-content .container-text span{
    font-size: .9rem;
    display: block;
    line-height: 1rem;
}
#delete-category-product-modal .modal-content form .container-main-template-input-simple,
#delete-product-modal .modal-content form .container-main-template-input-simple{
    width: 100%;
}
#delete-category-product-modal .modal-content .container-buttons,
#delete-product-modal .modal-content .container-buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .4rem;
    margin-top: .6rem;
}
#delete-category-product-modal .modal-content .container-buttons button,
#delete-product-modal .modal-content .container-buttons button{
    width: 50%;
    box-sizing: border-box;
    border: none;
    outline: none;
    height: 2.3rem;
    border-radius: .4rem;
    color: white;
    font-weight: bold;
}
#delete-category-product-modal .modal-content .container-buttons button:nth-child(1),
#delete-product-modal .modal-content .container-buttons button:nth-child(1){
    background-color: var(--color-blue-dark-1);
}
#delete-category-product-modal .modal-content .container-buttons button:nth-child(2),
#delete-product-modal .modal-content .container-buttons button:nth-child(2){
    background-color: rgb(233, 31, 31);
}
/* end modal delete product */
/* modal vender producto */
#modal-vender-producto .modal-content{
    background-color: white;
    height: auto;
    width: 100%;
    max-width: 26rem;
    padding: .6rem;
    border-radius: .4rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: .6rem;
}
#modal-vender-producto .modal-content .container-details-product{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: .6rem;
    width: 100%;
}
#modal-vender-producto .modal-content .container-details-product .container-title{
    width: 100%;
    text-align: center;
}
#modal-vender-producto .modal-content .container-details-product .container-title h1{
    font-weight: bold;
    font-size: 1.1rem;
}
#modal-vender-producto .modal-content .container-details-product .container-details-product_header{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: start;
    column-gap: .4rem;
    box-sizing: border-box;
}
#modal-vender-producto .modal-content .container-details-product .container-details-product_header .container-icon{
    width: 8rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#modal-vender-producto .modal-content .container-details-product .container-details-product_header .container-icon img{
    max-width: 100%;
    max-height: 100%;
}
#modal-vender-producto .modal-content .container-details-product .container-details-product_header .container-data{
    width: calc(100% - 8rem);    
    background-color: #d4ffd7;
    padding: .4rem;
    border-radius: .4rem;
}
#modal-vender-producto .modal-content .container-details-product .container-details-product_header .container-data .product-name-div{
    width: 100%;
    text-align: center;
}
#modal-vender-producto .modal-content .container-details-product .container-details-product_header .container-data .product-name-div strong{
    color: rgb(60, 60, 212);
}
#modal-vender-producto .modal-content .container-details-product .container-details-product_header .container-data .details-product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    column-gap: .6rem;
}
#modal-vender-producto .modal-content .container-details-product .container-details-product_header .container-data .details-product strong{
    font-size: .8rem;
}
#modal-vender-producto .modal-content .container-details-product .container-details-product_header .container-data .details-product span{
    font-size: .8rem;
    color: rgb(37, 34, 34);
    border-radius: .4rem;
}
#modal-vender-producto .modal-content .container-details-product .container-details-product_descr{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    text-align: start;
    row-gap: .4rem;
}
#modal-vender-producto .modal-content .container-details-product .container-details-product_descr span{
    font-size: .8rem;
}
#modal-vender-producto .modal-content .container-details-product .container-details-product_descr .container-f-v{
    display: flex;
    justify-content: space-between;
    align-items: start;
    column-gap: .6rem;
    width: 100%;
}
#modal-vender-producto .modal-content .container-details-product .container-details-product_descr .container-f-v strong{
    font-size: .8rem;
}
#modal-vender-producto .modal-content .container-details-product .container-details-product_descr .container-row-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: .8rem;
    width: 100%;
}
#modal-vender-producto .modal-content form{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
}
#modal-vender-producto .modal-content form .container-inputs-main .container-2-columns{
    display: flex;
    justify-content: center;
    align-items: start;
    column-gap: 1rem;  
    width: 100%;
}
#modal-vender-producto .modal-content form .container-inputs-main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: .5rem;
}
#modal-vender-producto .modal-content form .container-inputs-main .container-input-row{
    width: 100%;
}
#modal-vender-producto .modal-content form .container-inputs-main .container-input-row .radio-inputs-methods-pay{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: .4rem;
}
#modal-vender-producto .modal-content form .container-inputs-main .container-input-row .radio-inputs-methods-pay .radio-tile{
    width: 100%;
}
#modal-vender-producto .modal-content form .container-buttons-action{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .9rem;
    column-gap: .4rem;
}
#modal-vender-producto .modal-content form .container-buttons-action button{
    width: 50%;
    padding: .6rem;
    border-radius: .4rem;
    background-color: #33353d;
    color: white;
    border: none;
    outline: none;
}








@media screen and (orientation:portrait) {
    #modal-vender-producto .modal-content{
        height: 100%;
        border-radius: 0;
    }
    .section-container-all .container-product-all{
        width: 100%;
    }    
    .section-container-all .container-product-all .block-product{
        width: 100%;
    }
    .section-container-all .container-categories-product{
        max-width: 28rem;
        width: 100%;
        height: auto;
        min-height: auto;
        background-color: rgb(238, 246, 246);
        border-radius: .4rem;
        padding: .4rem;
    }
    .section-container-all .container-all-data-product-category{
        justify-content: center;
    }
    .container-products-main-block{
        width: 100%;
    }
    .section-container-all .container-header{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        column-gap: .6rem;
    }
    .section-container-all .container-header input{
        width: 100%;
    }
    .section-container-all .container-all-data-product-category .container-categories-product{
        height: auto;
        min-height: auto;
        width: 100%;
    }
    .section-container-all .container-all-data-product-category .container-categories-product .container-all-categories{
        height: auto;
    }
}