.container-main-body-all{
    width: 100%;
    height: 100%;
    padding: .6rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    box-sizing: border-box;
}
.container-main-body-all .title-main-panel-container{
    margin-top: .4rem;
    width: 100%;
    text-align: start;
}
.container-main-body-all .title-main-panel-container h1{
    font-size: 1rem;
    color: black;
}
.container-main-body-all .form-main-control-for-user-view-record{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    box-sizing: border-box;
    margin-top: .9rem;
}
.container-main-body-all .form-main-control-for-user-view-record form{
    display: flex;
    justify-content: start;
    align-items: end;
    width: 100%;
    column-gap: .3rem;
    row-gap: .3rem;
}
.container-main-body-all .form-main-control-for-user-view-record form .block-row-mov-control{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end; 
}
.container-main-body-all .form-main-control-for-user-view-record form .block-row-mov-control label{
    width: 100%;
    text-align: start;
    font-size: .8rem;
    color: rgb(40, 39, 39);

}
.container-main-body-all .form-main-control-for-user-view-record form .block-row-mov-control select,
.container-main-body-all .form-main-control-for-user-view-record form .block-row-mov-control input{
    padding: .5rem;
    border: 1px solid rgb(44, 41, 41);
    background-color: white;
    font-size: .9rem;
    color: black;
    outline: none;
    border-radius: .3rem;
}
.container-main-body-all .form-main-control-for-user-view-record form > button{
    padding: .64rem;
    height: 100%;
    background-color: white;
    border-radius: .3rem;
    color: black;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .3rem;
    border: 1px solid black;
}
.container-main-body-all .form-main-control-for-user-view-record .btn-clear-all-record{
    background-color: red;
    color: white;
    padding: .64rem;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .3rem;
    text-wrap: nowrap;
    border-radius: .3rem;
    margin-top: .4rem;
}
.container-table-in-record-main{
    width: 100%;
    height: calc(100% - 8rem);
    margin-top: 1.3rem;
}
.container-table-in-record-main .table-container{
    height: calc(100% - 2.8rem);
    background-color: white;
    overflow-y: auto;
}
.container-table-in-record-main .table-container .table{
    width: 100%;
    border-radius: .4rem;
    overflow: hidden;
}
.container-table-in-record-main .table-container thead{
    background-color: var(--color-blue-dark-1);
}
.container-table-in-record-main .table-container thead tr th{
    color: white;
    font-size: .8rem;
    white-space: nowrap;
}
.container-table-in-record-main .table-container tbody tr td{
    font-size: .8rem;
    white-space: nowrap;
}
.container-table-in-record-main .table-container tbody tr:hover{
    background-color: aliceblue;
}
@media screen and (orientation: portrait) {
    .container-main-body-all .form-main-control-for-user-view-record{
        flex-direction: column;
        width: 100%;
        max-width: 20rem;
    }
    .container-main-body-all .form-main-control-for-user-view-record form{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .container-main-body-all .form-main-control-for-user-view-record form .block-row-mov-control{
        width: 100%;
        align-items: start;
    }
    .container-main-body-all .form-main-control-for-user-view-record form button{
        width: 100%;
        margin-top: .5rem;
        height: auto;
    }
    .container-main-body-all .form-main-control-for-user-view-record form .block-row-mov-control input,
    .container-main-body-all .form-main-control-for-user-view-record form .block-row-mov-control select{
        width: 100%;
    }
    .container-main-body-all .form-main-control-for-user-view-record .btn-clear-all-record{
        width: 100%;
        margin-top: .8rem;
    }
}